div{
    border: 1px solid black;
}

#grandparent{
    width: 90vw;
    background-color: aqua;
}

#parent{
    width: 70vw;
    background-color: yellowgreen;
}

#child{
    width: 50vw;
    background-color: violet;
}